@model FourthWallAcademy.MVC.Models.ReportModels.StudentsReportModel

@{
    ViewData["Title"] = "4th Wall Academy : Grades Report";
}

<div class="card p-2 mb-3 mt-3 d-flex gap-3 justify-content-between flex-wrap">
    <form asp-controller="Dashboard" asp-action="Students" method="get" class="d-flex flex-wrap gap-4 align-items-center">
        <div class="d-flex align-items-center gap-2">
            <label asp-for="Form.Order" class="form-label"></label>
            <select asp-for="Form.Order" asp-items="@Model.OrderList" class="form-select"></select>
        </div>
        <div class="d-flex align-items-center gap-2">
            <label asp-for="Form.StartDate" class="form-label"></label>
            <input asp-for="Form.StartDate" class="form-control">
        </div>
        <div class="d-flex align-items-center gap-2">
            <label asp-for="Form.EndDate" class="form-label"></label>
            <input asp-for="Form.EndDate" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
    <div>
        <a asp-action="Sections" class="link-primary text-decoration-none me-3">Sections</a>
        <a asp-action="Students" class="link-primary">Students</a>
    </div>
    <a asp-action="Index" class="link-primary text-decoration-none">Go Back</a>
</div>

<table class="table table-bordered table-primary">
    <thead>
    <tr>
        <th># Students</th>
        <th># Enrollments</th>
        <th># Absences</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Report.CountStudents</td>
        <td>@Model.Report.CountEnrollments</td>
        <td>@Model.Report.SumAbsences</td>
    </tr>
    </tbody>
</table>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Student</th>
        <th>Enrollments</th>
        <th>Absences</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var report in Model.Report.StudentEnrollments)
    {
        <tr>
            <td>@report.StudentAlias</td>
            <td>@report.SectionsCount</td>
            <td>@report.Absences</td>
        </tr>
    }
    </tbody>
</table>