@model CoursesIndexModel

@{
    ViewData["Title"] = "4th Wall Academy : Courses";
}

<div class="card p-2 mb-3 mt-3">
    <form asp-controller="Courses" asp-action="Index" method="get" class="d-flex gap-5 align-items-center">
        <div>
            <div class="d-flex gap-2">
                <label asp-for="FilterForm.Order" class="form-label"></label>
                <select asp-for="FilterForm.Order" asp-items="@Model.OrderSelectList" class="form-select"></select>
            </div>
            <div class="d-flex gap-2">
                <label asp-for="FilterForm.SubjectId" class="form-label"></label>
                <select asp-for="FilterForm.SubjectId" asp-items="@Model.SubjectSelectList" class="form-select">
                    <option value="0">All</option>
                </select>
            </div>
            <div class="mt-2">
                <input asp-for="FilterForm.SearchString" placeholder="Search" class="form-control">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </form>
</div>

<a asp-controller="Courses" asp-action="AddCourse" class="link-primary mb-3 fs-5">Add Course</a>

@if (Model.Subjects.Count == 0)
{
    <h3 class="display-3">No Courses found</h3>
}
else
{
    foreach (var subject in Model.Subjects)
    {
        <h3 class="display-6 p-2 bg-primary text-white">@subject.SubjectName</h3>
        <table class="table table-responsive table-bordered table-striped">
            <thead class="table-primary">
            <tr>
                <th>Course</th>
                <th>Description</th>
                <th>Credits</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var course in subject.Courses)
            {
                <tr>
                    <td>@course.CourseName</td>
                    <td>@course.CourseDescription</td>
                    <td>@course.Credits</td>
                    <td><a asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseID" class="link-primary">
                        Details
                    </a></td>
                </tr>
            }
            </tbody>
        </table>
    }
}