@model FourthWallAcademy.MVC.Models.SectionModels.SectionDetailsModel

@{
    ViewData["Title"] = $"4th Wall Academy : Section Details {Model.Section.SectionID}";
}

<h1 class="display-2 text-center">Section Details</h1>
<section>
    <div class="mb-3">
        <p class="mb-3"><strong>Course:</strong> @Model.Section.Course.CourseName</p>
        <p class="mb-3"><strong>Instructor:</strong> @Model.Section.Instructor.Alias</p>
    </div>
    <div class="mb-3 d-flex flex-wrap gap-sm-2 gap-md-3 gap-lg-5">
        <div>
            <p class="mb-3"><strong>Start Date:</strong> @Model.Section.StartDate.ToShortDateString()</p>
            <p class="mb-3"><strong>End Date:</strong> @Model.Section.EndDate.ToShortDateString()</p>
        </div>
        <div>
            <p class="mb-3">
                <strong>Start Time:</strong> 
                @Model.Section.StartTime.Hours:@(Model.Section.StartTime.Minutes < 10
                    ? "0" + Model.Section.StartTime.Minutes
                    : Model.Section.StartTime.Minutes)
            </p>
            <p class="mb-3">
                <strong>End Time:</strong> 
                @Model.Section.EndTime.Hours:@(Model.Section.EndTime.Minutes < 10
                    ? "0" + Model.Section.EndTime.Minutes
                    : Model.Section.EndTime.Minutes)
            </p>
        </div>
    </div>
</section>
<div class="d-flex justify-content-between mt-5">
    <div class="d-flex gap-3 align-items-center">
        <a asp-controller="Sections" asp-action="Edit" asp-route-id="@Model.Section.SectionID" class="btn btn-primary">Edit</a>
        <a asp-controller="Sections" asp-action="Index" class="link-primary" style="cursor: pointer">Go Back</a>
    </div>
    <a asp-controller="Courses" asp-action="Delete" asp-route-id="@Model.Section.CourseID" class="btn btn-danger">Delete</a>
</div>
<div class="d-flex flex-wrap mt-4 align-items-center gap-5">
<h2 class="display-6">Enrolled Students</h2>
<a class="fs-5 link-primary" asp-controller="Sections" asp-action="Enroll" asp-route-id="@Model.Section.SectionID">Enroll Student</a>
</div>
<table class="mt-2 table table-bordered table-striped">
    <thead class="table-primary">
    <tr>
        <th>Alias</th>
        <th>Grade</th>
        <th>Absences</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Section.StudentSections)
        {
            <tr>
                <td>@student.Student.Alias</td>
                <td>@student.Grade</td>
                <td>@student.Absences</td>
                <td><a asp-action="EditStudentSection" asp-route-studentId="@student.StudentID" asp-route-sectionId="@student.SectionID">Edit</a></td>
                <td>
                    <form asp-controller="Sections" asp-action="Remove" method="get">
                        @Html.AntiForgeryToken()
                        <input name="sectionId" value="@Model.Section.SectionID" hidden>
                        <input name="studentId" value="@student.StudentID" hidden>
                        <button class="btn btn-link text-danger">Remove</button>
                    </form>
                    </td>
            </tr>
        }
    </tbody>
</table>