@model FourthWallAcademy.MVC.Models.SectionModels.SectionsIndexModel

@{
    ViewData["Title"] = "4th Wall Academy : Sections";
}

<div class="card p-2 mb-3 mt-3">
    <div class="d-flex flex-wrap gap-3 justify-content-between">
        <form asp-controller="Sections" asp-action="Index" method="get" class="d-flex flex-wrap gap-2 align-items-center">
            <div class="d-flex flex-wrap gap-sm-1 gap-md-3 gap-lg-5">
                <div class="d-flex align-items-center gap-2">
                    <label asp-for="Form.Order" class="form-label"></label>
                    <select asp-for="Form.Order" asp-items="@Model.OrderSelectList" class="form-select"></select>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <label asp-for="Form.CourseID" class="form-label"></label>
                    <select asp-for="Form.CourseID" asp-items="@Model.CourseSelectList" class="form-select">
                        <option value="0">All</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </form>
        <div class="d-flex flex-column gap-2 fs-5">
            <a asp-controller="Courses" asp-action="Index" class="link-primary text-decoration-none">Courses</a>
            <a asp-controller="Sections" asp-action="Index" class="link-primary">Sections</a>
            <a asp-controller="Instructors" asp-action="Index" class="link-primary text-decoration-none">Instructors</a>
        </div>
    </div>
</div>
<div class="m-3">
 <a asp-controller="Sections" asp-action="Add" class="link-primary fs-5">Add Section</a>
</div>

@if (Model.Courses.Count == 0)
{
    <h3 class="display-3">No Sections found</h3>
}
else
{
    foreach (var course in Model.Courses)
    {
        <h3 class="display-6 p-2 bg-primary text-white">@course.CourseName</h3>
        <table class="table table-responsive table-bordered table-striped">
            <thead class="table-primary">
            <tr class="text-center">
                <th>Instructor</th>
                <th>From - To</th>
                <th>Start Time</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var s in course.Sections)
            {
                <tr class="text-center">
                    <td>@s.Instructor.Alias</td>
                    <td>@s.StartDate.ToShortDateString() - @s.EndDate.ToShortDateString()</td>
                    <td>@s.StartTime.Hours:@(s.StartTime.Minutes < 10 ? "0" + s.StartTime.Minutes : s.StartTime.Minutes)</td>
                    <td><a asp-controller="Sections" asp-action="Details" asp-route-id="@s.SectionID" class="link-primary">
                        Details
                    </a></td>
                </tr>
            }
            </tbody>
        </table>
    }
}