@model FourthWallAcademy.MVC.Models.SectionModels.StudentSectionRemoveModel

@{
    ViewData["Title"] = "4th Wall Academy : Sections Remove Student";
}

<h1 class="display-3 mb-5 text-danger">Remove <strong>@Model.StudentAlias</strong> from Section?</h1>
<div class="d-flex gap-5 align-items-center">
    <form asp-controller="Sections"
          asp-action="Remove"
          asp-route-sectionId="@Model.SectionId"
          method="post"
          class="p-0 m-0">
        @Html.AntiForgeryToken()
        <input asp-for="SectionId" value="@Model.SectionId" hidden>
        <input asp-for="StudentId" value="@Model.StudentId" hidden>
        <button class="btn btn-danger">Remove</button>
    </form>
    <a asp-controller="Sections" asp-action="Details" asp-route-id="@Model.SectionId" class="link-primary">Go Back</a>
</div>